
body {
  background-color: #000;
}


.nav-link:hover, .nav-link:focus {
    color: red;
}




.navbar {
    background: #000;/*linear-gradient(to right, #000428, #004e92);  **/
    position: fixed;
    width: 100%;
}


.navbar-nav .dropdown-menu {
    min-width: 150px;
}

.dropdown-menu .dropdown-item {
text-align: left;
background: #000;/*linear-gradient(to right, #000428, #004e92);  **/
transition: all 0.3s ease-in-out;
width: 150px;
overflow: hidden;
}

.navbar a {
    color:  white;
}


.nav-footer {
  background: #000;
  color: white;
}


a {
    color: red;
    text-decoration: underline;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
}


.see-all {
  display: block;
  text-align: right; /* Align text to the right */
  margin-right: 0; /* Ensure it's flush with the container's edge */
}

a.see-all {

  color: white; /* Default color */
  text-decoration: underline; /* Optional: Removes underline */
}

a.see-all:hover {
  color: red; /* Hover color */
  text-decoration: underline; /* Optional: Adds underline on hover */
}



h5:hover {
  color: red; /* Change font color to red on hover */
}

img.thumbnail-image.card-img {
    height: 300px;
}
